@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.navbar{
    min-height: 50px;
    height: fit-content;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar_left{
    /* background-color: #0015ff; */
    width: 85%;
    min-height:50px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background-color: #0015ff;
    width: 12%;
    min-height:50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5em;

}

.brand_item{
    text-align: center;
    padding: 0.2em;
}

.logo img{
    width: 30%;
    height: 30%;
    align-items: center;
    border-radius: 50%;
}

.navbar_left_content{
    min-height: 50px;
    height: fit-content;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.navbar_left_content_item{
    margin-left: 2em;
}

.navbar_right{
    /* background-color: #00d8ff; */
    width: 12%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .navbar_right img{
    width: 2rem;
    border-radius: 50%;
 }



h1 {
    margin-bottom: 0px;
    font-family: Nosifer;
    background: linear-gradient(to right, #81b8d6,#0b97e3, #1281bd,rgb(60, 214, 137), #0272af, #0be3cd, #0b97e3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h3 {
    margin-top: 0px; /* Adjust the margin to reduce space */
    font-weight: 500;
    background: linear-gradient(to right, #81b8d6,#0b97e3, #1281bd,rgb(60, 214, 137), #0272af, #0be3cd, #0b97e3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /* Safari/Chrome */
    -moz-background-clip: text; /* Firefox */
    background-clip: text;
    font-family: Indie Flower;
    font-weight: bolder;
    display: inline;

}



.App{
    background-color: #000000;
}

.App-header {
    background-color: transparent;    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
0% {
    transform: translateY(-100%);
    opacity: 0;
}
100% {
    transform: translateX(0);
    opacity: 1;
}
}



.continue_btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: black;
    color: #00d8ff;
    font-size: 16px;
    border: solid 0.1em rgb(0, 236, 236);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, color 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: inset 0 0 5px cyan;
}

.continue_btn:hover {
background-color: #00d8ff; /* Bright blue background on hover */
color: #1e1e1e; /* Dark text color on hover */
transform: scale(1.05); /* Slight scale-up on hover */
box-shadow: 0 0 15px rgba(0, 216, 255, 0.6); /* Enhanced glow on hover */
}

.continue_btn:active {
transform: scale(0.95); /* Slight scale-down when clicked */
box-shadow: none; /* Remove the glow effect when clicked */
}


/* Login / Sign UP Page */

.login-form, .signup-form{
    width: 30%;
    min-width: 30%;
    height: fit-content;
    padding: 2em;
}
.login-inp, .signup-inp{
    text-align: center;
    border: none;
    border-bottom: 1px solid cyan;
    border-radius: 0;
    background-color: transparent;
    color: aqua;
}

.input-group input:focus{
    background-color: transparent;
    outline: none;
    box-shadow: 0 0 0;
    color: aqua;
}

#basic-addon1{
    background-color: transparent;
    border: 0;
}

.btn{
    background-color: transparent;
    border: none;
}
.btn:hover{
    background-color: transparent;
    box-shadow: inset 2px 2px 2px cyan , 2px 2px 2px cyan;
    text-shadow: 0 0 10px cyan;
}
.btn:focus{
    background-color: transparent;
    outline: none;
    box-shadow: inset 2px 2px 2px cyan , 2px 2px 2px cyan;
    text-shadow: 0 0 10px cyan;
}

.err-msg{
    font-size: 1rem;
}




/* Type Page */

.text-area {
    position: relative;
    width: 100%;
    max-width: 80%; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.text {
    backdrop-filter: blur(10px);
    background-color: rgba(212, 139, 3, 0.048);
    width: 80%;
    padding: 20px;
    color: white;
    font-size: 16px;
    /* font-weight: 50; */
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0, 174, 255) inset;
    resize: none;
}

.name-input {
    /* position: absolute; */
    backdrop-filter: blur(10px);
    background-color: rgba(212, 139, 3, 0.048);
    color: rgb(197, 155, 1);
    width: 30%;
    padding: 8px;
    margin-top: 3%;
    margin-left: 53%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(197, 155, 1) inset;
    font-size: 14px;
    outline: none;
}

@media (max-width: 68px) {
    .text-area {
        padding: 10px;
    }

    .text {
        font-size: 14px;
    }
}



/* Profile Page */


.name_pic{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;  
}

.name_pic img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    box-shadow: 0 0 20px cyan;
    animation: clr_change 4s linear infinite;
}
@keyframes clr_change{
    0%{
        box-shadow: 0 0 20px rgb(0, 123, 223);
    }
    100%{
        box-shadow: 0 0 20px rgb(255, 0, 0);
    }
}

.glow-text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(231, 196, 0);
    text-shadow: 0 0 1px rgb(231, 196, 0), 0 0 1px rgb(231, 196, 0), 0 0 5px rgb(231, 196, 0);
}
  
.rating{
    width: 16%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    /* background-color: #00d8ff; */
}

.active_star{
    color: cyan;
    animation: glow 0.5s infinite alternate;
}
@keyframes glow {
    0% {
      opacity: 0.1;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1.1);
    }
}

.hr_line{
    border: none;
    height: 0.1em;
    width: 60%;
    background: cyan;
    box-shadow: 0 0 10px cyan;
}



.profile_navbar{
    font-size: calc(10px + 2vmin);
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1%;
    border-bottom: 1px solid cyan;
    box-shadow: 0 4px 0 0 rgba(0, 255, 255, 0.10);
}

.profile_navbar_item{
    border-bottom: 2px solid transparent;
    font-size: 0.9em;
    margin-right: 2%;
    margin-left: 2%;
}

.profile_navbar_item:hover{
    cursor:pointer;
    color: cyan;
    border-bottom: 2px cyan solid;
}

.profile_details{
    padding: 2%;
    margin: auto;
    margin-bottom: 5%;
    width: 50%;
    min-height: fit-content;
    max-height: 50vh;
    overflow-y: scroll;
}

.shayari_card{
    margin: auto;
    margin-bottom: 2em;
    padding: 1%;
    background-color: white;
    color: purple;
    border-top: 1px solid green;
    font-family: 'Varela Round' ;
    font-size: 16px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-wrap: wrap;
    width: 95%;
    min-height: 4em;
    max-height: 10em;
    overflow: auto;
}